*_pycache_*
*.ipynb_checkpoints
env.py
*.csv
*env.py
new.py
iris_decision_tree*
*zillow_decision_tree*
access.log
sa311.tgz
spark-warehouse
my_cases
my_cases_parquet
my_depts
my_depts_parquet
sa311
*.json
*.csv
*warmup*
nlp/acquire.ipynb
nlp/prep_lecture.ipynb
nlp/prepare.ipynb
time_series/Untitled.ipynb
time_series/test.xlsx